/* PROBLEM FORUM CUSTOM CSS */

/* FONTS HERE */
@font-face {
  font-family: 'Brusher';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Brusher.otf") format("opentype");
}

@font-face {
  font-family: 'Axis';
  font-style: normal;
  font-weight: 400;
  src: url("../font/axis.otf") format("opentype");
}

body{
	background-color: black;
	/*padding-top: 5%;*/
	color: white;
}

.table-of-contents a{
	color: white;
}

.main-container{
	width: 100%;
}

img.center_image{
	display: block;
	margin: auto;
	border: 0;
	width: 50%;
}

img.acss-logo{
	display:block;
	width: 100%;
}

img.footer-img{
	width: 100%;
	position: absolute;
	bottom: 0;
	border: 0;
}

img#logo {
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}

.nav-button{
	top: 25px;
	left: 25px;
}

#particles-js{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

/* SECTION 1 CSS */
#section-1{
	padding-top: 5%;
	vertical-align: middle;
	position: relative;
	height: 100vh;
}

#title{
	font-family: 'Axis' !important;
	font-size: 2em;
	color: #494448;
}

#title-body{
	font-family: 'Brusher' !important;
	font-size: 3em;
	color: white;
}

.opaque{
	background-color: white;
}

.btn-flat{
	color: white;
}

/* SECTION 2 CSS */
#section-2{
	margin-top: 200px;
	/*background-color: #d35400;*/
	/*height: 100vh;*/
	z-index: 2;

}

#yiz-sec-2{
	background-color: #d35400;
	height: 100%;
	z-index: 2;
	margin: 0;
	position: relative;
}

.header-title{
	background-color: white; 
	color: #D35400; 
	vertical-align: middle;
	text-align: center !important;
}

.extra-padding{

}

.picture{
	width: 40%;
}

#section-3{
	position: relative;
	/*height: 100vh;*/
}

.card{
	/*width: 50vh;*/
	/*padding: 5%;*/
}

.speaker-div{
	/*background-color: #D1661F;*/
	border: 1px dashed;
	border-left: 7px solid;
	border-color: white;
	padding: 40px !important;
	margin-bottom: 30px;
}

.rotate{
	width: 100%;
	position: absolute;
	bottom: 100;
	border: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}


